<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <style>
        body{
            background-color: #FFCCFF ;
        }
        div{
            color:black;
            text-align: center;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white;
            font-size: 70px;
            margin: 20px 20px;
        }
        h1{
            color: #330066;
            font-family: verdana;
            font-size: 30px;
            margin: 0px 20px 20px 0px;
        }
    </style>
</head>
<body>
    <div id="counter">ĐẾM NGÀY</div>
    <h1>Thời gian bắt đầu: {{start}}</h1>
    <h1>Thời gian kết thúc: {{end}}</h1>
    <h1>Khoảng cách thời gian: {{distance}}</h1>
</body>
</html>



